version: '2'
services:
  db:
    image: mysql:5.7
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    port:
      - "3306:3306"
    volumes:
      mysql_data:/var/lib/mysql
  app:
    build: .
    depends_on:
      - db
    command: sh /scripts/command.sh
    volumes:
      - .:/app
      - bundle_data:/bundle
    ports:
     - "3000:3000"
    links:
      - db
    stdin_open: true
    tty: true
volumes:
  mysql_data:
  bundle_data:
